<span style="font-size: 30px;">

**Metadata**


</span>

In [98]:
"""
client_id:       Every client's unique ID.
variation:       Indicates if a client was part of the experiment.
visitor_id:      A unique ID for each client-device combination.
visit_id:        A unique ID for each web visit/session.
process_step:    Marks each step in the digital process.
date_time:       Timestamp of each web activity.
clnt_tenure_yr:  Represents how long the client has been with Vanguard, measured in years.
clnt_tenure_mnth: Further breaks down the client's tenure with Vanguard in months.
clnt_age:        Indicates the age of the client.
gendr:           Specifies the client's gender.
num_accts:       Denotes the number of accounts the client holds with Vanguard.
bal:             Gives the total balance spread across all accounts for a particular client.
calls_6_mnth:    Records the number of times the client reached out over a call in the past six months.
logons_6_mnth:   Reflects the frequency with which the client logged onto Vanguard's platform over the last six months
"""

"\nclient_id:       Every client's unique ID.\nvariation:       Indicates if a client was part of the experiment.\nvisitor_id:      A unique ID for each client-device combination.\nvisit_id:        A unique ID for each web visit/session.\nprocess_step:    Marks each step in the digital process.\ndate_time:       Timestamp of each web activity.\nclnt_tenure_yr:  Represents how long the client has been with Vanguard, measured in years.\nclnt_tenure_mnth: Further breaks down the client's tenure with Vanguard in months.\nclnt_age:        Indicates the age of the client.\ngendr:           Specifies the client's gender.\nnum_accts:       Denotes the number of accounts the client holds with Vanguard.\nbal:             Gives the total balance spread across all accounts for a particular client.\ncalls_6_mnth:    Records the number of times the client reached out over a call in the past six months.\nlogons_6_mnth:   Reflects the frequency with which the client logged onto Vanguard's platform over the last six months\n"

<span style="font-size: 30px;">

**Data**


</span>

In [99]:
import pandas as pd

df_gold_test = pd.read_excel('Data_gold_test_steps.xlsx')
df_gold_test

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1
...,...,...,...,...,...,...,...,...,...,...
5553,5492897,Test,772609923_69272363513_45475,1,1,1,1,1,1.0,0
5554,5492897,Test,476101525_35474335958_420184,1,0,0,0,0,NaN,1
5555,9684806,Test,304868249_69734281141_323816,0,3,2,1,1,0.0,1
5556,4084839,Test,800911487_42591652049_196692,1,1,1,1,1,1.0,0
5557,9646248,Test,161730376_52165437931_639965,0,2,3,4,1,1.0,1

In [100]:
df_gold_control = pd.read_excel('Data_gold_control_steps.xlsx')
df_gold_control

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
4750,1550660,Control,143274221_81838514499_21074,0,1,1,0,0,0.0,1
4751,2833480,Control,715082992_31158513777_974487,0,1,1,0,0,0.0,1
4752,8881896,Control,740631430_6221639850_832960,1,1,1,2,1,1.0,1
4753,8023625,Control,710520941_37998535484_436282,0,1,0,0,0,0.0,1
4754,8023625,Control,791367980_81040225281_352511,0,1,0,0,0,0.0,1

# Data Error for Gold Control

In [101]:
# Add a new column for the number of errors 

import pandas as pd

# Adicionando a nova coluna com valores zero
df_gold_control['N_er_st_s1']= 0
df_gold_control['N_er_s1_s2']= 0
df_gold_control['N_er_s2_s3']= 0
df_gold_control['N_er_s3_con']= 0
df_gold_control['Total errors']= 0


df_gold_control

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0,0,0,0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,0,0,0,0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,0,0,0,0,0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0,0,0,0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,1550660,Control,143274221_81838514499_21074,0,1,1,0,0,0.0,1,0,0,0,0,0
4751,2833480,Control,715082992_31158513777_974487,0,1,1,0,0,0.0,1,0,0,0,0,0
4752,8881896,Control,740631430_6221639850_832960,1,1,1,2,1,1.0,1,0,0,0,0,0
4753,8023625,Control,710520941_37998535484_436282,0,1,0,0,0,0.0,1,0,0,0,0,0
4754,8023625,Control,791367980_81040225281_352511,0,1,0,0,0,0.0,1,0,0,0,0,0

In [102]:
import pandas as pd

# Definir a funÃ§Ã£o para verificar se a coluna "start" Ã© igual a 0 e atribuir valor nulo Ã s colunas relacionadas aos erros
def verificar_start(row):
    if row['start'] == 0:
        return None
    else:
        return row['N_er_st_s1'], row['N_er_s1_s2'], row['N_er_s2_s3'], row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control[['N_er_st_s1', 'N_er_s1_s2', 'N_er_s2_s3', 'N_er_s3_con']] = df_gold_control.apply(verificar_start, axis=1, result_type='expand')
df_gold_control.head(3)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,0.0,0.0,0.0,0.0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,0.0,0.0,0.0,0.0,0

In [103]:
# number of errors beteen start and step 1

def calcular_diferenca(row):
    if row['start'] != row['step_1']:
        return abs(row['start'] - row['step_1'])
    else:
        return row['N_er_st_s1']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control['N_er_st_s1'] = df_gold_control.apply(calcular_diferenca, axis=1)
df_gold_control

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,1.0,0.0,0.0,0.0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,2.0,0.0,0.0,0.0,0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,1550660,Control,143274221_81838514499_21074,0,1,1,0,0,0.0,1,0.0,0.0,0.0,0.0,0
4751,2833480,Control,715082992_31158513777_974487,0,1,1,0,0,0.0,1,0.0,0.0,0.0,0.0,0
4752,8881896,Control,740631430_6221639850_832960,1,1,1,2,1,1.0,1,0.0,0.0,0.0,0.0,0
4753,8023625,Control,710520941_37998535484_436282,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
4754,8023625,Control,791367980_81040225281_352511,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0

In [104]:
# number of errors beteen step 1  step 2

def calcular_diferenca(row):
    if row['step_1'] != row['step_2']:
        return abs(row['step_1'] - row['step_2'])
    else:
        return row['N_er_s1_s2']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control['N_er_s1_s2'] = df_gold_control.apply(calcular_diferenca, axis=1)
df_gold_control

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,1.0,0.0,0.0,0.0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,2.0,0.0,0.0,0.0,0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,1550660,Control,143274221_81838514499_21074,0,1,1,0,0,0.0,1,0.0,1.0,0.0,0.0,0
4751,2833480,Control,715082992_31158513777_974487,0,1,1,0,0,0.0,1,0.0,1.0,0.0,0.0,0
4752,8881896,Control,740631430_6221639850_832960,1,1,1,2,1,1.0,1,0.0,1.0,0.0,0.0,0
4753,8023625,Control,710520941_37998535484_436282,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
4754,8023625,Control,791367980_81040225281_352511,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0

In [105]:
# number of errors beteen step 2  step 3

def calcular_diferenca(row):
    if row['step_2'] != row['step_3']:
        return abs(row['step_2'] - row['step_3'])
    else:
        return row['N_er_s2_s3']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control['N_er_s2_s3'] = df_gold_control.apply(calcular_diferenca, axis=1)
df_gold_control.head(20)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,1.0,0.0,0.0,0.0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,2.0,0.0,0.0,0.0,0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
5,2954139,Control,504436919_55529970320_598381,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
6,2954139,Control,44081282_8164029885_74137,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
7,2532676,Control,747716337_7696245030_542547,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
8,7934807,Control,977622801_63454933378_30337,0,1,1,1,1,0.0,1,0.0,0.0,0.0,0.0,0
9,4746179,Control,733799847_16061626102_529649,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
10,7016459,Control,287520097_51379261535_634920,1,2,2,1,1,1.0,1,0.0,1.0,0.0,0.0,0
11,7016459,Control,465633160_59014372314_695853,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
12,7253866,Control,781746456_19520942994_814251,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
13,6728778,Control,386138483_73655263558_212182,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
14,3963721,Control,2816366_53280257819_7738,0,4,1,1,1,0.0,1,3.0,0.0,0.0,0.0,0
15,1337947,Control,363283659_55951730025_303102,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
16,1337947,Control,639220935_12177272226_224285,1,0,0,0,0,NaN,1,NaN,NaN,NaN,NaN,0
17,3836030,Control,966796155_24996482737_827326,1,1,2,2,1,1.0,1,1.0,0.0,1.0,0.0,0
18,3836030,Control,181120710_19289467909_533457,0,4,0,0,0,0.0,1,4.0,0.0,0.0,0.0,0
19,9497139,Control,926299215_79746426318_528449,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0

In [106]:
# number of errors beteen step 3  confirm

def calcular_diferenca(row):
    if row['step_3'] != row['confirm']:
        return abs(row['step_3'] - row['confirm'])
    else:
        return row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control['N_er_s3_con'] = df_gold_control.apply(calcular_diferenca, axis=1)
df_gold_control.head(20)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,1.0,0.0,0.0,2.0,0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,2.0,0.0,0.0,0.0,0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
5,2954139,Control,504436919_55529970320_598381,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
6,2954139,Control,44081282_8164029885_74137,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
7,2532676,Control,747716337_7696245030_542547,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
8,7934807,Control,977622801_63454933378_30337,0,1,1,1,1,0.0,1,0.0,0.0,0.0,1.0,0
9,4746179,Control,733799847_16061626102_529649,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
10,7016459,Control,287520097_51379261535_634920,1,2,2,1,1,1.0,1,0.0,1.0,0.0,0.0,0
11,7016459,Control,465633160_59014372314_695853,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
12,7253866,Control,781746456_19520942994_814251,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
13,6728778,Control,386138483_73655263558_212182,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,0
14,3963721,Control,2816366_53280257819_7738,0,4,1,1,1,0.0,1,3.0,0.0,0.0,1.0,0
15,1337947,Control,363283659_55951730025_303102,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
16,1337947,Control,639220935_12177272226_224285,1,0,0,0,0,NaN,1,NaN,NaN,NaN,1.0,0
17,3836030,Control,966796155_24996482737_827326,1,1,2,2,1,1.0,1,1.0,0.0,1.0,0.0,0
18,3836030,Control,181120710_19289467909_533457,0,4,0,0,0,0.0,1,4.0,0.0,0.0,0.0,0
19,9497139,Control,926299215_79746426318_528449,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0

In [107]:
# Definir a funÃ§Ã£o para calcular a soma e atribuir Ã  coluna "Total errors"
def calcular_total_errors(row):
    return row['N_er_st_s1'] + row['N_er_s1_s2'] + row['N_er_s2_s3'] + row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_control['Total errors'] = df_gold_control.apply(calcular_total_errors, axis=1)
df_gold_control

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,7946939,Control,819610789_74349965849_582778,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
1,7179800,Control,834345684_20753053466_629354,3,2,1,1,1,NaN,1,1.0,0.0,0.0,2.0,3.0
2,7679428,Control,377121016_67032089535_295299,0,2,0,0,0,0.0,1,2.0,0.0,0.0,0.0,2.0
3,7679428,Control,702065802_57911235390_499219,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
4,3654308,Control,726496682_33297666610_800081,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,1550660,Control,143274221_81838514499_21074,0,1,1,0,0,0.0,1,0.0,1.0,0.0,0.0,1.0
4751,2833480,Control,715082992_31158513777_974487,0,1,1,0,0,0.0,1,0.0,1.0,0.0,0.0,1.0
4752,8881896,Control,740631430_6221639850_832960,1,1,1,2,1,1.0,1,0.0,1.0,1.0,0.0,2.0
4753,8023625,Control,710520941_37998535484_436282,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,1.0
4754,8023625,Control,791367980_81040225281_352511,0,1,0,0,0,0.0,1,1.0,0.0,0.0,0.0,1.0

In [108]:
df_gold_control.to_excel('Data_gold_test_error.xlsx', index=False)

# Data Error for Gold Test

In [109]:
# Add a new column for the number of errors 

import pandas as pd

# Adicionando a nova coluna com valores zero
df_gold_test['N_er_st_s1']= 0
df_gold_test['N_er_s1_s2']= 0
df_gold_test['N_er_s2_s3']= 0
df_gold_test['N_er_s3_con']= 0
df_gold_test['Total errors']= 0


df_gold_test

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0,0,0,0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0,0,0,0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0,0,0,0,0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0,0,0,0,0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,5492897,Test,772609923_69272363513_45475,1,1,1,1,1,1.0,0,0,0,0,0,0
5554,5492897,Test,476101525_35474335958_420184,1,0,0,0,0,NaN,1,0,0,0,0,0
5555,9684806,Test,304868249_69734281141_323816,0,3,2,1,1,0.0,1,0,0,0,0,0
5556,4084839,Test,800911487_42591652049_196692,1,1,1,1,1,1.0,0,0,0,0,0,0
5557,9646248,Test,161730376_52165437931_639965,0,2,3,4,1,1.0,1,0,0,0,0,0

In [110]:
import pandas as pd

# Definir a funÃ§Ã£o para verificar se a coluna "start" Ã© igual a 0 e atribuir valor nulo Ã s colunas relacionadas aos erros
def verificar_start(row):
    if row['start'] == 0:
        return None
    else:
        return row['N_er_st_s1'], row['N_er_s1_s2'], row['N_er_s2_s3'], row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test[['N_er_st_s1', 'N_er_s1_s2', 'N_er_s2_s3', 'N_er_s3_con']] = df_gold_test.apply(verificar_start, axis=1, result_type='expand')
df_gold_test.head(3)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,0.0,0.0,0.0,0

In [111]:
# number of errors beteen start and step 1

def calcular_diferenca(row):
    if row['start'] != row['step_1']:
        return abs(row['start'] - row['step_1'])
    else:
        return row['N_er_st_s1']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test['N_er_st_s1'] = df_gold_test.apply(calcular_diferenca, axis=1)
df_gold_test

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,0.0,0.0,0.0,0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0.0,0.0,0.0,0.0,0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,5492897,Test,772609923_69272363513_45475,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
5554,5492897,Test,476101525_35474335958_420184,1,0,0,0,0,NaN,1,NaN,NaN,NaN,NaN,0
5555,9684806,Test,304868249_69734281141_323816,0,3,2,1,1,0.0,1,1.0,0.0,0.0,0.0,0
5556,4084839,Test,800911487_42591652049_196692,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
5557,9646248,Test,161730376_52165437931_639965,0,2,3,4,1,1.0,1,1.0,0.0,0.0,0.0,0

In [112]:
# number of errors beteen step 1  step 2

def calcular_diferenca(row):
    if row['step_1'] != row['step_2']:
        return abs(row['step_1'] - row['step_2'])
    else:
        return row['N_er_s1_s2']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test['N_er_s1_s2'] = df_gold_test.apply(calcular_diferenca, axis=1)
df_gold_test

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,1.0,0.0,0.0,0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0.0,0.0,0.0,0.0,0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,5492897,Test,772609923_69272363513_45475,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
5554,5492897,Test,476101525_35474335958_420184,1,0,0,0,0,NaN,1,NaN,NaN,NaN,NaN,0
5555,9684806,Test,304868249_69734281141_323816,0,3,2,1,1,0.0,1,1.0,1.0,0.0,0.0,0
5556,4084839,Test,800911487_42591652049_196692,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
5557,9646248,Test,161730376_52165437931_639965,0,2,3,4,1,1.0,1,1.0,1.0,0.0,0.0,0

In [113]:
# number of errors beteen step 2  step 3

def calcular_diferenca(row):
    if row['step_2'] != row['step_3']:
        return abs(row['step_2'] - row['step_3'])
    else:
        return row['N_er_s2_s3']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test['N_er_s2_s3'] = df_gold_test.apply(calcular_diferenca, axis=1)
df_gold_test.head(20)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,1.0,2.0,0.0,0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0.0,0.0,2.0,0.0,0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,1.0,0.0,0.0,0.0,0
5,7492898,Test,728138049_71846685688_807369,0,1,1,1,0,0.0,1,0.0,0.0,1.0,0.0,0
6,7492898,Test,521954464_73208775096_173517,1,0,0,0,1,NaN,1,NaN,NaN,1.0,NaN,0
7,599446,Test,673385732_60238089242_484522,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
8,3507030,Test,529881882_67062826244_515846,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
9,3133081,Test,66153650_3945024869_712936,0,8,1,1,1,0.0,1,7.0,0.0,0.0,0.0,0
10,7018421,Test,737261645_72017868952_807013,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
11,719630,Test,440272721_80909581784_590180,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
12,2672778,Test,896450492_11518687559_84917,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
13,1891596,Test,507013222_58496916715_892267,4,1,1,1,1,NaN,1,0.0,0.0,0.0,0.0,0
14,5309015,Test,975848241_70825607205_742326,1,1,2,1,1,1.0,1,1.0,1.0,0.0,0.0,0
15,3127993,Test,171985947_76147258011_597607,0,2,1,1,2,1.0,1,1.0,0.0,1.0,0.0,0
16,9589670,Test,171526297_52003856039_875747,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
17,1613439,Test,94554943_71306856267_768775,1,0,0,0,0,NaN,1,NaN,NaN,NaN,NaN,0
18,1613439,Test,476437828_11864144104_59407,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
19,7914595,Test,478858907_58948645208_751351,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0

In [114]:
# number of errors beteen step 3  confirm

def calcular_diferenca(row):
    if row['step_3'] != row['confirm']:
        return abs(row['step_3'] - row['confirm'])
    else:
        return row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test['N_er_s3_con'] = df_gold_test.apply(calcular_diferenca, axis=1)
df_gold_test.head(20)

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,1.0,2.0,1.0,0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0.0,0.0,2.0,2.0,0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,1.0,0.0,0.0,2.0,0
5,7492898,Test,728138049_71846685688_807369,0,1,1,1,0,0.0,1,0.0,0.0,1.0,0.0,0
6,7492898,Test,521954464_73208775096_173517,1,0,0,0,1,NaN,1,NaN,NaN,1.0,NaN,0
7,599446,Test,673385732_60238089242_484522,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
8,3507030,Test,529881882_67062826244_515846,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
9,3133081,Test,66153650_3945024869_712936,0,8,1,1,1,0.0,1,7.0,0.0,0.0,1.0,0
10,7018421,Test,737261645_72017868952_807013,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
11,719630,Test,440272721_80909581784_590180,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
12,2672778,Test,896450492_11518687559_84917,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
13,1891596,Test,507013222_58496916715_892267,4,1,1,1,1,NaN,1,0.0,0.0,0.0,3.0,0
14,5309015,Test,975848241_70825607205_742326,1,1,2,1,1,1.0,1,1.0,1.0,0.0,0.0,0
15,3127993,Test,171985947_76147258011_597607,0,2,1,1,2,1.0,1,1.0,0.0,1.0,2.0,0
16,9589670,Test,171526297_52003856039_875747,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
17,1613439,Test,94554943_71306856267_768775,1,0,0,0,0,NaN,1,NaN,NaN,NaN,1.0,0
18,1613439,Test,476437828_11864144104_59407,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0
19,7914595,Test,478858907_58948645208_751351,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0

In [115]:
# Definir a funÃ§Ã£o para calcular a soma e atribuir Ã  coluna "Total errors"
def calcular_total_errors(row):
    return row['N_er_st_s1'] + row['N_er_s1_s2'] + row['N_er_s2_s3'] + row['N_er_s3_con']

# Aplicar a funÃ§Ã£o para cada linha do DataFrame
df_gold_test['Total errors'] = df_gold_test.apply(calcular_total_errors, axis=1)
df_gold_test

,client_id,Variation,visit_id,confirm,start,step_1,step_2,step_3,complete,Error,N_er_st_s1,N_er_s1_s2,N_er_s2_s3,N_er_s3_con,Total errors
0,346781,Test,138480024_16310699196_180947,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
1,6038525,Test,160662411_47414103546_387098,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
2,6219677,Test,402500490_59473331055_178140,1,3,3,4,2,1.0,1,0.0,1.0,2.0,1.0,4.0
3,6219677,Test,733647053_97830081870_147132,0,4,4,4,2,0.0,1,0.0,0.0,2.0,2.0,4.0
4,6219677,Test,237397313_76996853966_974538,0,3,2,2,2,0.0,1,1.0,0.0,0.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,5492897,Test,772609923_69272363513_45475,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
5554,5492897,Test,476101525_35474335958_420184,1,0,0,0,0,NaN,1,NaN,NaN,NaN,1.0,NaN
5555,9684806,Test,304868249_69734281141_323816,0,3,2,1,1,0.0,1,1.0,1.0,0.0,1.0,3.0
5556,4084839,Test,800911487_42591652049_196692,1,1,1,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0
5557,9646248,Test,161730376_52165437931_639965,0,2,3,4,1,1.0,1,1.0,1.0,3.0,1.0,6.0

In [116]:
df_gold_test.to_excel('Data_gold_test_error.xlsx', index=False)